{% load static %}
<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RadioPi</title>
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
    <script src="{% static 'js/changeRadiostation.js' %}"></script>
</head>
<body>
    <div class="topbar">
        <div class="title">RadioPi</div>
        <button class="settings-btn">&#9881;</button>
    </div>
    <main class="tile-container">
        {% for station in stations %}
        <!-- TODO loop over stations and create buttons -->
        <button onclick="changeRadiostation('{{ station.id }}')" class="tile">
            <img class="tile-icon" src="{{ station.logo.url }}" alt="Radio" />
            <span class="tile-label">{{ station.short_name }}</span>
        </button>
        {% empty %}
            <p>No radio stations configured.</p>
        {% endfor %}
    </main>
    <div class="bottombar">
        <div id="info-left">Aktuell: Radio Klassik</div>
        <div id="info-right">12:34 • Verbunden</div>
    </div>

    <script src="{% static 'js/autoRefresh.js' %}"></script>
</body>
</html>