<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RadioPi</title>
    <link th:href="@{/css/style.css}" rel="stylesheet" />
    <script th:src="@{/js/changeRadiostation.js}"></script>
</head>
<body>
    <div class="topbar">
        <div class="title">RadioPi</div>
        <button class="settings-btn">&#9881;</button>
    </div>
    <main class="tile-container">
        <button th:attr="onclick=|changeRadiostation('${station.id}')|" class="tile" th:each="station : ${radiostations}">
            <img class="tile-icon" th:src="@{'data:image/jpeg;base64,'+${station.imagePath}}" />
            <span class="tile-label" th:text="${station.name}"></span>
        </button>
    </main>
    <div class="bottombar">
        <div id="info-left">Aktuell: Radio Klassik</div>
        <div id="info-right">12:34 • Verbunden</div>
    </div>

    <script th:src="@{/js/autoRefresh.js}"></script>
</body>
</html>